<div class="table-wrapper" data-bind="blockLoader: isLoading">
    <table class="data table totals">
        <tbody>
        <!-- ko foreach: elems() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        </tbody>
    </table>
</div>
