<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($crumbs && is_array($crumbs)) : ?>
<div class="dreamcrub">
    <ul class="breadcrumbs">
        <?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
            <li class="item <?php /* @escapeNotVerified */ echo $crumbName ?>">
            <?php if ($crumbInfo['link']) : ?>
                <a href="<?php /* @escapeNotVerified */ echo $crumbInfo['link'] ?>" title="<?php echo $block->escapeHtml($crumbInfo['title']) ?>">
                    <?php echo $block->escapeHtml($crumbInfo['label']) ?>
                </a>&nbsp;
                <span>&gt;</span>
            <?php elseif ($crumbInfo['last']) : ?>
                &nbsp;<?php echo $block->escapeHtml($crumbInfo['label']) ?>&nbsp;
            <?php else: ?>
                &nbsp;<?php echo $block->escapeHtml($crumbInfo['label']) ?>&nbsp;
                <span>&gt;</span>
            <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>

    <div class="clearfix"></div>
</div>
<?php endif; ?>
