<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>
<?php  
    $code = json_decode($block->getGalleryImagesJson(),true);

?>
<div class="labout span_1_of_a1">
    <ul id="etalage">
        <?php  
            foreach($code as $codes)
            {
                echo '<li>';
                    echo '<img src="'.$codes['full'].'" alt="" class="etalage_thumb_image">';
                    echo '<img src="'.$codes['thumb'].'" alt="" class="etalage_source_image">';
                echo '</li>';
            }
        ?>
        <li class="clearfix"></li>
    </ul>
</div>

<br>
