<div data-block="minicart" class="minicart-wrapper header-bottom-right">


	<ul class="icon1 sub-icon1 profile_img">
		<li>
			<a class="action showcart active-icon c1" href="<?php /* @escapeNotVerified */ echo $block->getShoppingCartUrl(); ?>"
			   data-bind="scope: 'minicart_content'">
			    <span class="text"><?php /* @escapeNotVerified */ echo __('My Cart'); ?></span>
			    <span class="counter qty empty"
			          data-bind="css: { empty: cart().summary_count == 0 }, blockLoader: isLoading">
			        <span class="counter-number"><!-- ko text: cart().summary_count --><!-- /ko --></span>
			        <span class="counter-label">
			        <!-- ko if: cart().summary_count -->
			            <!-- ko text: cart().summary_count --><!-- /ko -->
			            <!-- ko i18n: 'items' --><!-- /ko -->
			        <!-- /ko -->
			        </span>
			    </span>
			</a>

			<?php if ($block->getIsNeedToDisplaySideBar()): ?>
				<ul class="sub-icon1 list">
				    <div class="block block-minicart empty"
				         data-role="dropdownDialog"
				         data-mage-init='{"dropdownDialog":{
				            "appendTo":"[data-block=minicart]",
				            "triggerTarget":".showcart",
				            "timeout": "2000",
				            "closeOnMouseLeave": false,
				            "closeOnEscape": true,
				            "triggerClass":"active",
				            "parentClass":"active",
				            "buttons":[]}}'>
				        <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
				            <!-- ko template: getTemplate() --><!-- /ko -->
				        </div>
				    </div>
				</ul>
			<?php endif ?>
		 </li>
	</ul>


    <script>
        window.checkout = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
        }
    }
    </script>
</div>


