<?php
    $request = $this->getRequest();

    if( $request->getFullActionName() === 'cms_index_index' ):
?>
	<div class="content_top">
<?php else: ?>
	<div class="about_top">
<?php endif; ?>

	<div class="container">
		<?php echo $block->getChildHtml(); ?>
	</div>
</div>
