<?php
    $request = $this->getRequest();

    if( $request->getFullActionName() === 'cms_index_index' ):
?>
	<div class="index-banner">
<?php else: ?>
	<div class="sales">
<?php endif; ?>


	<div class="container">
		<div class="header_top">
			<?php echo $block->getChildHtml(); ?>
		</div>
	</div>
</div>
