<a href="#" class="right_bt" id="activator"><img src="<?php echo $this->getViewFileUrl('images/menu.png'); ?>" alt=""></a>
<script type="text/javascript">

	var $ = jQuery.noConflict();

	(function($) {
		$('#activator').click(function(){
				$('#box').animate({'left':'0px'},500);
		});
		$('#boxclose').click(function(){
				$('#box').animate({'left':'-2300px'},500);
		});

		//Hide (Collapse) the toggle containers on load
		$(".toggle_container").hide();

		//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
		$(".trigger").click(function(){
			$(this).toggleClass("active").next().slideToggle("slow");
			return false; //Prevent the browser jump to the link anchor
		});

	})(jQuery);
</script>