<?php
/**
 * Top menu for store
 *
 * @see \Magento\Theme\Block\Html\Topmenu
 */
?>
<?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

<?php if( !empty( $_menu ) ): ?>
<div class="box1">
    <ul class="box1_list">
        <?php /* @escapeNotVerified */ echo $_menu; ?>
    </ul>
</div>
<?php endif; ?>