<div class="minicart-wrapper header-bottom-right">

	<ul class="icon1 sub-icon1 profile_img">
		<li>
			<a class="action showcart active-icon c1" href="<?php /* @escapeNotVerified */ echo $block->getShoppingCartUrl(); ?>"
			   data-bind="scope: 'minicart_content'">
			    <?php /* @escapeNotVerified */ echo __('My Cart'); ?>
			    <span class="counter qty empty"
			          data-bind="css: { empty: cart().summary_count == 0 }, blockLoader: isLoading">
			        	<!-- ko if: cart().summary_count >= 1 -->
				        <span class="counter-number rate">
				                <!-- ko text: cart().summary_count --><!-- /ko -->
				        </span>
			            <!-- /ko -->
			    </span>
			</a>

			<?php if ($block->getIsNeedToDisplaySideBar()): ?>
				<ul data-block="minicart" class="minicart-wrapper sub-icon1 list">
				    <div class="block block-minicart empty"
				         data-role="dropdownDialog"
				         data-mage-init='{"dropdownDialog":{
				            "appendTo":"[data-block=minicart]",
				            "triggerTarget":".showcart",
				            "timeout": "2000",
				            "closeOnMouseLeave": false,
				            "closeOnEscape": true,
				            "triggerClass":"active",
				            "parentClass":"active",
				            "buttons":[]}}'>
				        <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
				            <!-- ko template: getTemplate() --><!-- /ko -->
				        </div>
				    </div>

				    <script>
				        window.checkout = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
				    </script>
				    <script type="text/x-magento-init">
				    {
				        "[data-block='minicart']": {
				            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
				        },
				        "*": {
				            "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
				        }
				    }
				    </script>
				</ul>
			<?php endif ?>
		 </li>
	</ul>



</div>