<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * New Customer block template
 *
 * @var $block \Magento\Customer\Block\Form\Login\Info
 */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
<div class="col-lg-6 login-left">
    <div class="block block-new-customer">
        <div class="block-title">
            <h3 id="block-new-customer-heading" role="heading" aria-level="2"><?php /* @escapeNotVerified */ echo __('New Customers') ?></h3>
        </div>
        <div class="block-content" aria-labelledby="block-new-customer-heading">
            <p><?php /* @escapeNotVerified */ echo __('By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.') ?></p>
            <div class="actions-toolbar">
                <div class="primary">
                    <a href="<?php /* @escapeNotVerified */ echo $block->getCreateAccountUrl() ?>" class="acount-btn action create primary"><?php /* @escapeNotVerified */ echo __('Create an Account') ?></a>
                </div>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
