<div class="block-content">

    <!-- ko if: cart().summary_count -->
    <h3 class="subtitle">Recently added items (<!-- ko text: cart().summary_count --><!-- /ko -->)</h3>
    <div data-action="scroll" class="minicart-items-wrapper">
        <div id="mini-cart" class="minicart-items shopping_cart" data-bind="foreach: { data: cart().items, as: 'item' }">
            <!-- ko foreach: $parent.getRegion($parent.getItemRenderer(item.product_type)) -->
                <!-- ko template: {name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}} --><!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->

    <!-- ko ifnot: cart().summary_count -->
        <p class="subtitle empty" data-bind="visible: closeSidebar()">
            <!-- ko i18n: 'You have no items in your shopping cart.' --><!-- /ko -->
        </p>
        <!-- ko if: cart().cart_empty_message -->
            <p class="minicart empty text"><!-- ko text: cart().cart_empty_message --><!-- /ko --></p>

            <div class="actions">
                <div class="secondary">
                    <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                        <span><!-- ko text: $t('View and edit cart') --><!-- /ko --></span>
                    </a>
                </div>
            </div>
        <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: cart().summary_count -->

        <!-- ko if: cart().possible_onepage_checkout -->
            <!-- ko foreach: getRegion('subtotalContainer') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->

        <!-- ko foreach: getRegion('extraInfo') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

    <!-- /ko -->

    <!-- ko if: cart().summary_count -->
        <!-- ko if: cart().possible_onepage_checkout -->
        <div class="actions">
            <div class="secondary">
                <div class="check_button">
                    <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                        <span><!-- ko i18n: 'Check out' --><!-- /ko --></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- /ko -->
    <!-- /ko -->

    <div id="minicart-widgets" class="minicart-widgets">
        <!-- ko foreach: getRegion('promotion') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
</div>
<!-- ko foreach: getRegion('sign-in-popup') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
