<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="total">
    <div class="total_left">
        <!-- ko i18n: 'CartSubtotal' --><!-- /ko -->
    </div>

	<div class="total_right">
    <!-- ko foreach: elems -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
    </div>
    <div class="clearfix"></div>
</div>
