/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
*,
*:hover,
*:focus,
*:active {
	outline: none !important;
}
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
   font-family: 'Montserrat', sans-serif;
   font-size: 100%;
   background:#fff;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}
.index-banner {
  background: url(../images/banner.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height:1100px;
}
.sales {
  background: url(../images/banner.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:300px;
}
.menu{
	float:right;
}
.menu img{
	display:block;
}
.header_top{
	margin-top:3em;
}
/*-----stat-header----*/
.logo{
	float:left;
	margin-top: 10px;
}
/*--//header-welcome-note--*/
.box{
	position:absolute;
	left: -2300px;
	width:45%;
	color:#7F7F7F;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	right:0px;
	top: 20px;
}
a.boxclose{
	cursor: pointer;
    text-align: center;
    display: block;
    position: absolute;
    left: 15px;
    top: 15px;
}
.box_content_center{
	background:rgba(174, 123, 0, 0.57);
}
.menu_box_list{
	display: inline-block;
	padding: 20px 0 12px;
}
.menu_box_list ul li {
	display:block;
	float: left;
}
.menu_box_list li a{
	color: #FFF;
    font-size: 0.85em;
    display: block;
    margin: 10px 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.1em;
}
.menu_box_list li a:hover{
	color:#ff0d40;
	text-decoration:none;
}
.menu_box_list li a > i > img{
	vertical-align:middle;
	padding-right:10px;
}
.boxclose span{
	width:45px;
	height:45px;
	display:inline-block;
	background: url(../images/image-sprite.png) no-repeat -8px -369px;
}
.boxclose span:hover{
	background: url(../images/image-sprite.png) no-repeat -6px -308px;
}
/* start icon styles */
.header-bottom-right {
  float: right;
  margin-left: 5%;
}
.header-bottom-right h3 {
  font-size: 1em;
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding: 10px;
}
.icon1:before,.icon1:after {
	content: "";
	display: table;
}
.icon1:after {
	clear: both;
}
ul.icon1{
	float:right;
	zoom: 1;
	list-style: none;
	padding: 0;
	margin-left:0;
}
.icon1 li {
	float: left;
	position: relative;
}
.icon1 li:last-child{
	border-right:none;
}
.icon1 li:hover > a {
	color: #fafafa;
}
*html .icon1 li a:hover { /* IE6 only */
	color: #fafafa;
}
.icon1 ul {
	width:250px;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top:70px;
	z-index: 1;
	right: -100px;
	background: #ffffff;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	-moz-box-shadow: 0 0 5px #999;
	-o-box-shadow: 0 0 5px #999;
	padding: 10px 15px;
}
.icon1 li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
	z-index: 9999;
}
.icon1 ul ul {
	top: 6px;
	left: 158px;
	margin: 0 0 0 20px;
}
.icon1 ul li {
	/*--float: none;--*/
	display: block;
	border: 0;
}
.icon1 ul li:first-child{
	border-top:none;
}
.icon1 ul li:first-child a{
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
}
.icon1 ul li:last-child {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.icon1 ul a {
	_height: 10px; /*IE6 only*/
	white-space: nowrap;
	float: none;
	text-transform: none;
}
.active-icon{
	display: block;
}
.icon1 ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 45%;
	top: -30px;
	border-left: 10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:10px solid #f0f0f0;
}
.icon1 ul ul li:first-child a:after {
	left: -100px;
	top: 0%;
	margin-top: -6px;
	border-left: 0;
	border-bottom:20px solid transparent;
	border-top: 20px solid transparent;
	border-right:20px solid #323757;
}
/* Mobile */
.icon1-trigger {
	display: none;
}
.sub-icon1 img{
	border:none;
	display:inline-block;
	vertical-align:middle;
}
.cart_box{
	margin-bottom:1em;
	border-bottom:1px solid #E0E0E0;
	margin-bottom:10px;
	padding-bottom:10px;
}
.list_img{
	float:left;
	width:20%;
	border:1px solid #e0e0e0;
	margin-right:6%;
}
.list_desc{
	float:left;
	width:50%;
}
.list_desc h4{
	font-size:12px;
	text-decoration:none;
	font-weight:100;
	text-transform:uppercase;
}
.list_desc h4 a{
	color:#000;
}
.list_desc h4 a:hover{
	color: #f54d56;
}
.total{
	padding:10px;
	background:#ddd;
	margin-top: 10px;
}
.c1 {
  font-size: 15px;
  color: #000;
}
a.active-icon.c1:hover {
	text-decoration:none;
	color:#ff0d40;
}
.rate{
	background:#ff0d40;
	width: 15px;
	height: 15px;
	text-align: center;
	border-radius: 100px;
	position: absolute;
	top: -4px;
	color: #fff;
	font-size: 11px;
	font-weight: 100;
	right: -15px;
}
.cart_box, .cart_box1{
	position:relative;
}
.alert-close {
  background: url('../images/close1.png') no-repeat 0px 0px;
  cursor: pointer;
  height: 22px;
  width: 22px;
  position: absolute;
  right:-10px;
  top:5px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.alert-close1 {
  background: url('../images/close1.png') no-repeat 0px 0px;
  cursor: pointer;
  height: 22px;
  width: 22px;
  position: absolute;
  right:-10px;
  top:5px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.alert-close2 {
  background: url('../images/close1.png') no-repeat 0px 0px;
  cursor: pointer;
  height: 22px;
  width: 22px;
  position: absolute;
  right:-10px;
  top:5px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.total_left{
	float:left;
	font-size:0.85em;
}
.total_right{
	float:right;
	font-size:0.85em;
	color:#f54d56;
	font-weight:600;
}
.login_buttons{
	padding:0px;
}
.login_button{
	float:right;
}
.login_button a{
	color:#fff;
	font-size:0.8125em;
	text-transform:uppercase;
	font-weight:600;
	text-decoration:none;
    border: none;
	cursor: pointer;
	padding:5px 10px;
	display: inline-block;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #000;
	margin:10px 0 0;
}
.login_button a:hover{
	background:#f54d56;
}
.check_button{
	float:left;
}
.check_button a{
	color:#fff;
	font-size:0.8125em;
	text-transform:uppercase;
	font-weight:600;
	text-decoration:none;
    border: none;
	cursor: pointer;
	padding:5px 10px;
	display: inline-block;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #000;
	margin:10px 0 0;
}
.check_button a:hover{
	background:#f54d56;
}
/*-----//End-header----*/
/**** Slider *****/
.banner-wrap{
	text-align:center;
}
.wmuSlider.example1 {
    min-height: 800px !important;
}
.banner-wrap h1{
	padding-top: 6em;
    font-size: 4em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 100;
}
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article img {
	max-width: 100%;
	width: auto;
	height: auto;
	display:block;
}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
	position: absolute;
	left:235px;
	bottom:1px;
	padding: 0;
}
.wmuSliderPagination li {
	float: left;
	margin: 0 8px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
	text-indent: -9999px;
	width:13px;
	height:13px;
	background:#ffd772;
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
}
.wmuSliderPagination a.wmuActive {
	background:#fff;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width: 100px;
	height: 100px;
	text-indent: -9999px;
	background: url(../images/img-sprite.png)no-repeat;
	top:35%;
	z-index: 2;
	cursor: pointer;
}
.wmuSliderPrev {
	background-position: -211px -19px;
	left: 0px;
}
.wmuSliderNext {
	background-position:-345px -19px;
	right: 0px;
}
.content_top{
	margin-top: -8em;
    padding: 0 0 5em 0;
}
.menu1 {
	width: auto;
	height: auto;
	padding: 0;
	margin:0;
    list-style: none;
}
ul {
	padding: 0;
	list-style: none;
}
ul.cute{
	margin-bottom:1em;
}
.menu1 > li > a {
    width: 100%;
    line-height: 3.5em;
    text-indent: 1.2em;
    display: block;
    position: relative;
    color: #000;
    font-size: 1em;
    text-decoration: none;
    font-weight: 100;
    text-transform: uppercase;
}
.menu1 > li > a img{
	vertical-align: baseline;
	padding:0em 0em 0 5.5em;
}
.menu1 ul li a {
	width: 100%;
	display: block;
	position: relative;
    color:#3e3f3f;
	text-decoration:none;
	border-bottom: 1px solid #ddd;
	line-height:2.5em;
	text-indent: 1.2em;
	font-size:13px;
}
.menu1 ul li a:hover{
	background:#fab509;
	color:#fff;
}
.menu1 > li > a:hover, .menu1 > li > a.active {
	background:#fff;
}
.menu1 ul.kid-menu li a{
	border-bottom: none;
}
.content_right-box{
    margin-top: 10em;
}
ul.box1_list{
	padding: 2em;
    margin: 0;
    list-style: none;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
ul.box1_list li a{
	color: #000;
    font-size: 12px;
    line-height: 3.5em;
    text-transform: uppercase;
    font-weight: 700;
}
ul.box2_list{
	padding: 0 0 0 2em;
    margin: 3em 0 0 0;
    list-style: none;
}
ul.box3_list{
	padding: 2em 0 0 2em;
    margin: 1em 0 0 0;
    list-style: none;
    border-top: 1px solid rgb(239, 239, 239);
}
ul.box2_list li a{
	color: #000;
    font-size: 16px;
    line-height: 3.5em;
    text-transform: uppercase;
    font-weight:100;
}
ul.box3_list li a{
	color: #000;
    font-size: 11px;
    line-height:3em;
    text-transform: uppercase;
    font-weight:600;
}
.client_box{
	position:relative;
}
ul.clients{
	padding: 0;
    margin: 0;
    list-style: none;
    right: -35px;
    position: absolute;
    width: 50%;
    top: 34px;
}
ul.clients li{
	width: 24%;
	display:inline-block;
}
.view {
   overflow: hidden;
   position: relative;
   text-align: center;
}
.view .mask,.view .content {
	position: absolute;
    overflow: hidden;
    top:5px;
    left:31%;
    width: 180px;
    height: 180px;
}
.view .mask1,.view .content {
	top:55px;
    left:31%;
}
.view .mask2,.view .content {
    top:0px;
    left:27%;
}
.view img {
   display: block;
   position: relative;
}
.mask h3{
	margin-top:3em;
	font-size:1.1em;
	text-transform:uppercase;
	color:#000;
}
.mask p{
	font-size:11px;
	text-transform:uppercase;
	color:#000;
}
.mask h4{
	font-size:1em;
	text-transform:uppercase;
	color:#000;
	margin-top:1em;
}
.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  background-color:rgba(246, 186, 37, 0.92);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
}
.view-first ul.mask_img {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover ul.mask_img{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.grid1{
	border:1px solid #e9e6e6;
	text-align:center;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	padding:2em 0;
}
.grid2{
	border:1px solid #e9e6e6;
	text-align:center;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	position:relative;
}
.grid3{
	border:1px solid #e9e6e6;
	text-align:center;
	padding:2em;
}
 .grid1 img, .grid3 img{
	display:inline-block;
}
.grid1 h5{
	color:#000;
	text-transform:uppercase;
	font-size:1.2em;
}
.grid1 h6{
	color:#000;
	text-transform:uppercase;
	font-size:1.2em;
	font-weight:700;
}
.grid2 h5{
	position: absolute;
	top: 20px;
	width: 100%;
	font-size: 1em;
	text-transform: uppercase;
}
.grid2 h6{
	position: absolute;
	bottom: -2px;
	width: 100%;
	font-size: 1em;
	text-transform: uppercase;
}
.span_1{
	margin-top:1.5em;
}
.box3{
	margin-top:1.5em;
}
.box4{
	margin-top:1.5em;
}
/*--footer--*/
.footer{
	background: #202020;
    padding: 5em 0 2em;
    text-align: center;
}
.footer img{
	display:inline-block;
}
.footer p{
	margin:2em 0;
	font-size:0.85em;
}
.footer p a{
    color:#fff;
}
.copy p{
   color:#fff;
}
ul.social {
	padding: 0;
	list-style: none;
	margin:0;
}
ul.social li:first-child {
    margin-left: 0;
}
ul.social li{
	display:inline-block;
}
ul.social li a i {
   width: 40px;
  height: 40px;
  display: inline-block;
  background: url(../images/social.png)no-repeat;
}
ul.social li a i.fb{
  background-position:-3px -1px;
}
ul.social li a i.tw{
  background-position:-50px -3px;
}
ul.social li a i:hover{
	opacity:0.5;
}
/*--about--*/
.about_top{
	padding:5em 0;
}
ul.breadcrumbs {
  padding: 0;
  list-style: none;
  float: left;
}
.dreamcrub{
   margin: 1em 0 2em;
}
ul.breadcrumbs li {
  display: inline-block;
  font-size: 0.8125em;
  color: #999;
}

ul.breadcrumbs li.women,
ul.breadcrumbs li.active {
  background: #f6b923;
  padding: 3px;
  color:#fff;
}
.mens-toolbar {
   margin-bottom: 2em;
}
.mens-toolbar .sort {
	float: left;
	width: 20.5%;
}
.sort-by {
	color:#000;
	font-size: 0.8125em;
	text-transform: uppercase;
}
.sort-by label{
	font-weight:normal;
}
.mens-toolbar .pages {
	float: right;
	margin: 0;
}
ul.previous {
  padding: 0;
  list-style: none;
  float: right;
}
ul.previous li a {
  color: #999;
  font-size: 0.8125em;
}
ul.women_pagenation.dc_paginationA.dc_paginationA06 {
	float:right;
	padding:0;
	list-style:none;
}
.pages{
	float:right;
}
.pages .limiter {
	color: #000;
	font-size: 0.8125em;
	text-transform: uppercase;
}
.pages .limiter select {
	padding: 0;
	margin: 0 0 1px;
	vertical-align: middle;
}
ul.women_pagenation li {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
	list-style:none;
}
ul.women_pagenation li a {
	color:#000;
	display: block;
	padding:4px 8px;
	text-decoration: none;
	font-size: 0.8125em;
	text-transform:uppercase;
}
ul.women_pagenation li.active a{
	background:#feb605;
	color:#fff;
}
ul.women_pagenation li a:hover{
	background:#ff0d40;
	color:#fff;
}
.limiter.visible-desktop label{
	font-weight:normal;
	margin:0;
}
.pages .limiter label {
	vertical-align: middle;
}
.category{
	margin-top:2em;
}
ul.category_nav{
	padding:0;
	list-style:none;
	background:#81e6fe;
}
ul.category_nav li {
	padding-left: 1.5em;
}
ul.category_nav li a {
	color: #333;
	font-size: 0.85em;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	padding: 10px 15px;
}
ul.category_nav li:hover {
	background: #333;
	color: #fff;
}
ul.category_nav li a:hover {
	color:#fff;
	text-decoration:none;
}
/*--single--*/
.singel_right {
	margin-top: 3em;
}
.span_1_of_a1 {
	width: 36.2%;
}
.labout {
	display: block;
	float: left;
	margin: 0 3.6% 0 0;
}
.single {
	background: url(../images/single.jpg)no-repeat center top;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
.cont1 {
	display: block;
	float: left;
}
.span_2_of_a1 {
	width:60.1%;
	font-family: 'Roboto', sans-serif;
}
.span_2_of_a1 h1{
	color:#333;
	text-transform:uppercase;
	font-size:1.7em;
	font-weight:bold;
}
ul.rating{
	padding:0;
	list-style:none;
}
ul.rating li{
	float: left;
}
ul.rating li a{
	color: #08080B;
	padding: 0.1em 0;
	font-size: 0.8em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
ul.rating li a:hover, .price_single a:hover, ul.size li a:hover{
	color:#ee4a02;
	text-decoration:none;
}
.product-rate label {
	width: 54px;
	height: 24px;
	display: inline-block;
	background: url(../images/img-sprite.png) no-repeat -155px -56px;
	margin-right: 5px;
}
.price_single {
	font-size:1.3em;
	margin: 0.5em 0 1.5em;
}
span.reducedfrom {
	text-decoration: line-through;
	margin-right: 3%;
	color: #555;
}
span.actual {
	color:#ff0d40;
	font-size: 1em;
	margin-right: 5%;
}
.price_single a {
	color: #999;
	font-size: 13px;
}
h2.quick{
	color:#555;
	font-size:0.85em;
	text-transform:uppercase;
}
p.quick_desc{
	color:#999;
	font-size:0.8125em;
	line-height:1.8em;
}
ul.size{
	padding:0;
	list-style:none;
	margin-top:2em;
}
ul.size h3{
	color: #555;
	font-size: 0.85em;
	text-transform: uppercase;
}
ul.size li {
	display: inline-block;
	margin: 0 10px 0 0;
}
ul.size li a {
	color: #555;
	font-size: 0.8125em;
	background:#fff;
	padding: 5px 10px;
}
ul.product-qty{
	padding:0;
	list-style:none;
}
.product-qty span {
	color: #555;
	font-size: 0.85em;
	padding-bottom: 0.5em;
	display: block;
	text-transform: uppercase;
	margin-top: 2em;
}
.product-qty select {
	border: 1px solid #eee;
	padding: 0.5em;
	font-size: 1em;
	outline: none;
}
.product-qty option {
	border: 1px solid #EEE;
}
.btn_form form input[type="submit"] {
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	font-size: 1em;
	padding: 13px 20px;
	background:#ff0d40;
	color: #FFF;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-top: 2em;
}
.btn_form form input[type="submit"]:hover{
	background:#f6b71a;
}
h3.like, h3.recent{
	color: #333;
	font-size: 1.7em;
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 1em;
}
h3.recent{
	padding-top:2em;
}
#flexiselDemo1, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
	margin-top:10px;
	margin-bottom: 10px;
	max-width:350px;
	max-height:500px;
	display:inline-block;
}
.grid-flex{
	margin:20px 0 20px 0;
}
.nbs-flexisel-item a {
	color: #000;
	font-size:0.8125em;
	text-transform:uppercase;
}
.nbs-flexisel-item a:hover{
	color:#555;
}
.nbs-flexisel-item p {
	color: #000;
	font-size: 0.85em;
	padding-top: 25px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 45px;
	height: 45px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top:-2em;
}
.nbs-flexisel-nav-left {
	left: 0px;
	background: url(../images/arrows.png) no-repeat -8px -7px;
}
.nbs-flexisel-nav-right {
	right: 0px;
	background: url(../images/arrows.png) no-repeat -61px -7px;
}
/******** SAP ************/
.sap_tabs{
	clear:both;
	padding: 1em 0 4em;
}
.facts {
	border: 1px solid #E6E6E6;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
	width: 100%;
	list-style: none;
	padding: 0;
}
.resp-tab-item:first-child{
	border-left:none;
}
.resp-tab-item{
	color: #777;
	font-size: 0.8125em;
	cursor: pointer;
	padding: 12px 10px;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: left;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: uppercase;
}
.resp-tab-item:hover {
	text-shadow: none;
	color: #F27141;
}
.resp-tab-active,
.resp-tabs-list > .active {
	background:#f6b923;
	text-shadow: none;
	color:#000;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#ff0d40;
	margin:10px 0;
	color:#fff;
}
h2.resp-accordion:hover{
	background:#f6b923;
	text-shadow: none;
	color: #FFF;
}
@media only screen and (max-width:480px) {
.sap_tabs{
	padding-top:0;
}
.resp-tabs-container {
  padding: 0;
  margin-top: 2em;
}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tab-content {
  	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
.tab_list{
	list-style: none;
	padding:1em;
}
ul.tab_list li {
	margin-bottom: 10px;
}
ul.tab_list li a {
	color: #888;
	font-size: 0.8125em;
	line-height: 1.8em;
	vertical-align: top;
	text-decoration: none;
}
ul.tab_list li a:hover {
	color:#333;
}
/*--about--*/
.box7 h3, .box7 h4, .grid_2 h3{
	font-size:0.95em;
	text-transform:uppercase;
	color:#000;
}
.box7 p, .grid_2 p{
	font-size:0.8125em;
    color:#999;
    font-weight:100;
    line-height:1.8em;
}
.box7 h4{
	margin-top:4em;
}
ul.column_center{
    list-style-type: square;
    list-style-position: inside;
    padding: 0;
    margin: 1em 0 0 0;
}
ul.column_center li a, ol.column_center1 li a{
	color:#000;
	font-size:0.8125em;
	line-height:2em;
}
ol.column_center1{
	list-style-type: decimal;
    list-style-position: inside;
    padding: 0;
    margin: 1em 0 0 0;
}
p.m_1{
	margin: 1em 0 0 0;
}
.grid_2{
	margin-top:3em;
	padding-left:15px;
}
/*--contact--*/
.map iframe {
  width: 100%;
  min-height: 400px;
  border: none;
}
.contact_right{
	margin-top:5em;
}
.contact_right h3{
	padding: 0 0 0.8em 0;
	margin: 0;
    color:#000;
	text-transform:uppercase;
}
.contact_left p{
	font: 300 16px/25px Lato, sans-serif;
    color:#999;
    line-height:1.8em;
}
.text-fild {
	width: 48%;
	margin: 0;
	float: left;
}
.msg-fild{
	margin:2em 0;
}
.text-fild span, .msg-fild span, .message-fild span{
	font-size: 14px;
    color:#999;
}
.text-fild input[type="text"], .msg-fild input[type="text"], .message-fild textarea {
	padding: 0.8em;
	width: 100%;
	outline: none;
	color:#999;
	font-size: 13px;
	border: 1px solid #DAD8D8;
}
.message-fild textarea{
	height:150px;
	resize:none;
}
.text-fild:nth-child(2) {
	margin-right: 4%;
}
.btn-toolbar.form-group {
  margin-top: 2em;
}
.btn, .btn a, .btn-info, .btn-primary {
  padding: 10px 15px;
  background: #ffffff !important;
  border-color: #e4e3e3 !important;
  font-size: 12px;
  line-height: 1em;
  color: #777777 !important;
  text-transform: uppercase;
  border-radius: 0 !important;
  box-shadow: none !important;
  -webkit-transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
  transition: background .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.btn:hover, .btn:hover a, .btn-info:hover, .btn-primary:hover {
  background: #ff0d40 !important;
  border-color: #ff0d40 !important;
  color: #ffffff !important;
}
/*--login--*/
.login-left h3, .login-right h3 {
	color:#ff0d40;
	font-size: 1em;
	text-transform: uppercase;
	padding-bottom: 0.5em;
}
.login-right {
    padding-left: 0;
}
.login-left p, .login-right p {
	color:#999;
	display: block;
	font-size:0.8125em;
	margin: 0 0 1.5em 0;
	line-height: 1.8em;
}
.acount-btn {
	background:#ff0d40;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#f6b923;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	/*padding: 1em 0;*/
}
.login-right form div {
	padding: 0 0 1.5em 0;
}
.login-right span {
	color: #999;
	font-size:0.85em;
	padding-bottom: 0.2em;
	display: block;
}
.login-right input[type="text"], .login-right input[type="email"], .login-right input[type="password"] {
	border: 1px solid #DDDBDB;
	outline-color:#fb4d01;
	width: 96%;
	font-size:0.8125em;
	padding:10px;
}
.login-right input[type="submit"], .login-right button[type="submit"], .login-right button[type="submit"] span {
	background:#ff0d40;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.login-right input[type="submit"]:hover, .login-right button[type="submit"]:hover, .login-right button[type="submit"]:hover span{

	background:#f6b923;
}
a.forgot {
	color:#000;
	font-size:13px;
}
/*--register--*/
.register-top-grid h3, .register-bottom-grid h3 {
	color:#df1f26;
	font-size: 1em;
	padding-bottom: 5px;
	margin: 0;
}
.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	float: left;
	margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
	color:#999;
	font-size:0.8125em;
	padding-bottom: 0.2em;
	display: block;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="text"] {
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}
.register-top-grid input[type="text"], .register-top-grid input[type="email"], .register-bottom-grid input[type="text"], .register-bottom-grid input[type="password"] {
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	position: relative;
	font-size:0.85em;
	color:#555;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #D2CF99;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: ;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.register-but{
	margin-top:1em;
}
.register-but input[type="submit"] {
	background:#df1f26;
	color: #FFF;
	font-size: 0.8em;
	padding: 0.8em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.register-but input[type="submit"]:hover {
	background:#000;
}
.register-bottom-grid {
	margin-top:3em;
}
h1.title1 {
  color: #000;
  margin-bottom: 0.5em;
  font-size: 1em;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 0px;
  letter-spacing: -1px;
  text-transform: uppercase;
  padding-bottom: 13px;
}
p.cart {
  color: #999;
  font-size: 0.85em;
  line-height: 1.8em;
}
p.cart a{
	color:#000;
	text-decoration:underline;
}
/*--responsive design--*/
@media (max-width:1366px){
.box {
   width: 48%;
}
.icon1 ul {
  right:-80px;
}
}
@media (max-width:1280px){
.box {
   width:53%;
}
.icon1 ul {
  right:-20px;
}
.etalage_zoom_area div {
    width:400px !important;
    height:400px !important;
}
}
@media (max-width:1024px){
.menu_box_list li a {
  font-size: 0.8125em;
  margin: 10px 10px;
}
.box {
  width: 56%;
}
.index-banner {
   min-height:600px;
}
.wmuSliderPagination {
  left: 65px;
  bottom:160px;
}
.banner-wrap h1 {
  padding-top:5em;
  font-size:3em;
}
.wmuSlider.example1 {
  min-height: 700px !important;
}
.menu1 > li > a img {
  padding: 0em 0em 0 2.5em;
}
.content_top {
  margin-top: -6em;
}
.view .mask, .view .content {
  left: 28%;
}
ul.clients {
   right: 0px;
}
.view .mask2, .view .content {
  left:19%;
}
.etalage_zoom_area div {
  width:350px !important;
  height:350px !important;
}
.mens-toolbar .sort {
  width: 27.5%;
}
.content_right-box {
  margin-top: 7em;
}
.sales {
  min-height: 250px;
}
}
@media (max-width:920px){
.index-banner {
  min-height: 500px;
}
.wmuSlider.example1 {
  min-height: 545px !important;
}
.banner-wrap h1 {
  font-size: 2.5em;
  padding-top:4em;
}
.wmuSliderPagination {
  left: 100px;
  bottom: 125px;
}
.content_top {
  margin-top: 0;
}
ul.clients {
  right: 0px;
  top: -90px;
}
.view .mask, .view .content {
  left: 35%;
}
.grid2{
	text-align:center;
	margin-top:1em;
}
.grid2 img{
	display:inline-block;
}
.grid3, .grid1{
	margin-bottom:1em;
}
.box {
  width: 70%;
}
.span_1_of_a1 {
  width: 44.2%;
}
.span_2_of_a1 {
  width: 52.1%;
}
ul.size li a {
  padding: 5px 5px;
}
.sales {
  min-height: 200px;
}
.icon1 ul {
  right:10px;
}
.about_sidebar{
	display:none;
}
}
@media (max-width:768px){
.rate {
  top: -12px;
  right: -6px;
}
.menu_box_list li a {
  font-size: 12px;
  margin: 0px 10px;
}
a.boxclose {
  left: 5px;
  top: 5px;
}
.box {
  top: 32px;
}
.content_right {
  margin-top: 3em;
}
.mens-toolbar {
  margin-bottom: 1em;
}
.dreamcrub {
  margin: 1em 0;
}
h3.like, h3.recent {
  font-size: 1.3em;
}
.box7{
	text-align:center;
}
.box7 img{
	display:inline-block;
}
.login-left{
	padding-left:0;
}
.icon1 ul {
  top: 40px;
}
}
@media (max-width:736px){
.menu_box_list ul li {
  float: none;
  line-height: 1.8em;
}
.etalage_zoom_area div {
  width:250px !important;
  height:250px !important;
}
}
@media (max-width:640px){
.span_2_of_a1 {
  width: 100%;
}
.span_1_of_a1 {
  width: 100%;
  margin: 0 0 0 5%;
}
.cont1, .labout{
  float: none;
}
.map iframe {
  min-height:200px;
}
}
@media (max-width:480px){
.header_top {
  margin-top: 2em;
}
.banner-wrap h1 {
  font-size:2em;
  padding-top: 4em;
}
.wmuSlider.example1 {
  min-height: 250px !important;
}
.index-banner {
  min-height: 300px;
}
.banner-wrap h1 {
  font-size: 1.5em;
  padding-top: 3em;
}
.wmuSliderPagination {
  left: 30px;
  bottom: 60px;
}
.view .mask, .view .content {
  left: 24%;
}
ul.clients li {
  width: 22%;
}
ul.clients {
  right: 0px;
  top: -75px;
  width:70%;
}
.about_top {
  padding: 3em 0;
}
.sort-by, ul.women_pagenation li a{
  font-size: 12px;
}
.mens-toolbar .sort {
  width: 40.5%;
}
p.title {
  font-size: 14px;
  color: #000;
}
.etalage_zoom_area div {
  display:none;
}
ul.breadcrumbs {
   float: none;
}
ul.previous {
   float: none;
}
.sales {
  min-height: 150px;
}
}
@media (max-width:320px){
.logo {
  margin-top: 0;
}
.c1 {
  font-size: 12px;
}
.menu img {
  margin-top: -6px;
}
.col-md-3, .col-md-9, .col-md-8, .col-md-4, .col-md-6{
	padding:0;
}
ul.box2_list {
  padding: 0 0 0 1em;
  margin: 1em 0 0 0;
}
ul.box2_list li a {
  font-size: 13px;
  line-height: 2.5em;
}
ul.box3_list {
  padding: 1em 0 0 1em;
}
.view .mask, .view .content {
  left: 17%;
  top:0px;
}
.view .mask1, .view .content {
  top: 55px;
}
.grid2 {
  width: 33.3333%;
  float: left;
}
.grid2 h5 {
  font-size: 12px;
  top:10px;
}
.grid2 h6 {
  bottom: -6px;
  font-size: 12px;
}
ul.box1_list {
  padding: 0em 1em;
}
ul.box1_list li a {
  line-height: 2.5em;
}
.grid3{
  width: 33.3333%;
  float: left;
  padding:1em;
}
.content_top {
  padding: 0 0 2em 0;
}
.footer {
  padding: 3em 0 2em;
}
.footer p {
  margin: 1.2em 0;
  font-size: 12px;
}
.mens-toolbar .sort {
  width: 55.5%;
}
ul.breadcrumbs li {
  font-size: 11px;
}
.span_1_of_a1 {
  margin: 0;
}
.content_right {
  margin-top: 1em;
}
.singel_right {
  margin-top: 1em;
}
.span_2_of_a1 h1 {
  font-size: 1.2em;
}
ul.tab_last{
	display:none;
}
.sales {
  min-height: 100px;
}
h3.like, h3.recent {
  font-size:1.1em;
}
.sap_tabs {
  padding: 1em 0 2em;
}
ul.tab_list li a {
  font-size: 12px;
}
.btn_form form input[type="submit"] {
  font-size: 0.85em;
  padding: 8px 15px;
  margin-top: 1em;
}
.about_top {
  padding: 1em 0;
}
.grid_2 {
  display:none;
}
}

/* Custom Layouts */

.show-grid {
	margin-bottom: 15px;
}

.cart-container {
	margin-top: 30px;
}
.cart-container:after {
	content: "";
	display: block;
	clear: both;
}

.cart-container h4.table-caption,
.cart-container h4.summary.title {

}

.cart-container	.cart-summary {
	padding: 15px;
	background: #f9f9f9;
}

.cart-container	.cart-summary #block-discount {
	margin-bottom: 15px;
}

.cart-container	.cart-summary #block-shipping .title,
.cart-container	.cart-summary #block-discount .title {
	cursor: pointer;
	background: #202020;
	color: #fff;
	padding: 5px 15px;
}
.cart-container	.cart-summary #block-shipping .title:after,
.cart-container	.cart-summary #block-discount .title:after {
    content: "\e114";
    position: relative;
    top: 5px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
}
.cart-container	.cart-summary #block-shipping.active .title:after,
.cart-container	.cart-summary #block-discount.active .title:after {
	content: "\e113";
}
.cart-container	.cart-summary #block-shipping #block-summary,
.cart-container	.cart-summary #block-discount #discount-coupon-form {
	padding: 10px;
	border: 1px solid #202020;
	border-top: none;
}

#shipping-zip-form .field.note {
	display: block;
	margin-bottom: 15px;
	font-size: 90%;
}

#shipping-zip-form .field,
#discount-coupon-form .field {
	margin-bottom: 15px;
}

#shipping-zip-form .field label,
#discount-coupon-form .field label {
	display: block;
	text-align: left;
}
#shipping-zip-form .field label span,
#discount-coupon-form .field label span {
	font-size: 100%;
	color: #000;
}
#shipping-zip-form .field input[type="text"],
#shipping-zip-form .field select,
#discount-coupon-form .field input[type="text"] {
	width: 100%;
}
.cart-summary {
	position: relative;
}
.cart-summary .loading-mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
}
.cart-summary .loader img {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.cart-summary button {
	color: #fff;
	font-size: 0.8125em;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
	display: inline-block;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #000;
	margin: 10px 0 0;
	width: 100%;
}
.cart-summary button:hover {
	background: #f54d56;
}
.cart-summary button.action.checkout {
	display: block;
}
.cart-summary #cart-totals {
	margin-top: 15px;
}
.cart-summary #cart-totals .totals.sub th,
.cart-summary #cart-totals .totals.sub td {
	border-top: none;
}
#shopping-cart-table a.action {
	position: relative;
    top: 5px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}
#shopping-cart-table a.action span {
	display: none;
}
#shopping-cart-table .action-edit:after {
	content: "\e065";
}
#shopping-cart-table .action-delete:after {
	content: "\e014";
}
.cart.main.actions a,
.cart.main.actions button {
	color: #fff;
	font-size: 0.8125em;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
	margin-bottom: 5px;
	display: inline-block;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #000;
}
.cart.main.actions a:hover,
.cart.main.actions button:hover {
	background: #f54d56;
}
#shopping-cart-table .field.qty input {
	padding-left: 10px;
}

table > tbody > tr > td.col {
	vertical-align: middle;
}

.review-form {
	margin-top: 15px;
}

.review-form legend {
	margin-bottom: 6px;
}

.review-form .field {
	margin-bottom: 15px;
}
.review-form .field label {
	color: #000;
	font-size: 90%;
}
.review-form .field textarea,
.review-form .field input {
	width: 100%;
}

.review-form .field .control {
	padding: 0 .6em;
}
.review-form .actions-toolbar {
	padding: 0 .6em;
}
.review-form .action.submit {
	color: #fff;
	font-size: 0.8125em;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
	margin-bottom: 5px;
	display: inline-block;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #000;
}
.review-form .action.submit:hover {
	background: #f54d56;
}

.product-info-price {
	margin: 15px 0;
}
.product-info-price .product-reviews-summary .action.add {
	color: #08080B;
	padding: 0.1em 0;
	font-size: 0.8em;
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.product-info-price .product-reviews-summary .action.add:hover {
	color: #ee4a02;
}
.product-info-price .old-price {
	float: left;
	margin-right: 3%;
    color: #555;
	text-decoration: line-through;
    font-size: 1.3em;
}
.product-info-price .old-price .price-label,
.product-info-price .special-price .price-label {
	display: none;
}
.product-info-price .special-price {
    color: #ff0d40;
    font-size: 1.3em;
    margin-right: 5%;
}
.product.overview:before {
	content: "QUICK OVERVIEW:";
	display: block;
	color: #555;
	font-size: 1.15em;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.product.overview {
	color: #999;
    font-size: 0.8125em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8em;
}

.product-item a.product {
	text-decoration: none;
}
.product-item .old-price {
	margin-right: .6em;
	text-decoration: line-through;
}
.product-item .special-price {

}
.product-item .old-price .price-label,
.product-item .special-price .price-label {
	display: none;
}

.nbs-flexisel-ul {
	display: block;
}
.swatch-option.selected {
	outline: 2px solid #FF5100 !important;
}
.box-tocart .control input[type="number"] {
	padding-left: 0.6em;
}
ul.breadcrumbs > li:last-of-type {
	background: #f6b923;
	padding: 3px;
	color:#fff;
}

.btn_form button[type="submit"] {
	cursor: pointer;
    border: none;
    outline: none;
    display: inline-block;
    font-size: 1em;
    padding: 13px 20px;
    background: #ff0d40;
    color: #FFF;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-top: 2em;
}
.btn_form button[type="submit"]:hover {
	background: #f6b71a;
}
.sap_tabs .resp-tabs-list .resp-tab-item a {
	text-decoration: none;
}

.toolbar-sorter .sorter-action.sort-desc img {
	-ms-transform: rotate( 180deg );
	-webkit-transform: rotate( 180deg );
	transform: rotate( 180deg );
}

#cbp-vm .products.list .product-item .product-item-inner {
	display: inline-block;
	vertical-align: middle;
}
.cbp-vm-options .cbp-vm-icon {
	font-size: 18px;
	text-align: center;
}
.cbp-vm-options .cbp-vm-icon.cbp-vm-selected {
	color: #FF0F3F;
}

/* Custom Style */


.modal-custom,
.modal-popup,
.modal-slide {
	position: relative;
}

.modal-custom .action-close,
.modal-popup .action-close,
.modal-slide .action-close {
	position: absolute;
	right: 0;
	top: 0;
}
.modal-custom .action-close .lib-button-icon,
.modal-popup .action-close .lib-button-icon,
.modal-slide .action-close .lib-button-icon {
	color: #acacac;
	font-size: inherit;
	line-height: inherit;
}
.modal-custom .action-close:hover:before,
.modal-popup .action-close:hover:before,
.modal-slide .action-close:hover:before {
	color: #acacac;
}

.modal-custom .action-close .lib-css {
	margin: 0;
}
.modal-popup .modal-title .lib-css {
	border-bottom: 1px solid #acacac;
	font-weight: normal;
	padding-bottom: 10px;
}
.modal-popup .modal-title {
    font-size: inherit;
    margin-bottom: 0;
    min-height: 1em;
    word-wrap: break-word;
}
.modal-popup .action-close {
    padding: 0;
}

.modal-slide .action-close {
    padding: 0;
}
.modal-slide .page-main-actions {
    margin-top: 10px;
    margin-bottom: 10px;
}

.modals-overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
.modals-overlay .lib-css {
	background-color: rgba(0, 0, 0, 55%);
}

body._has-modal-custom .modal-custom-overlay {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    overflow: hidden;
    background: rgba(0, 0, 0, .55);
    display: none;
}

body._has-modal {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.modals-overlay {
    z-index: 10;
}

.modal-custom {
	visibility: hidden;
}
.modal-slide,
.modal-popup {
    bottom: 0;
    left: 0;
    min-width: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
}

.modal-custom._show,
.modal-slide._show,
.modal-popup._show {
	visibility: visible;
}

.modal-slide._show .modal-inner-wrap,
.modal-popup._show .modal-inner-wrap {
	background-color: rgba(0, 0, 0, .5);
	box-shadow: none;
	opacity: 1;
	pointer-events: auto;
}

.modal-slide._show .modal-inner-wrap,
.modal-popup._show .modal-inner-wrap {
	-webkit-transform: translate(0, 0);
	        transform: translate(0, 0);
}

.modal-slide._inner-scroll {
	left: auto;
    z-index: 10;
}
.modal-slide._inner-scroll._show .modal-inner-wrap {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

.modal-slide._inner-scroll .modal-inner-wrap {
    height: 100%;
    overflow-y: auto;
    position: static;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    transition-duration: .3s;
    -webkit-transition-property: -webkit-transform, visibility;
            transition-property:         transform, visibility;
    transition-timing-function: ease-in-out;
    width: auto;
}

.modal-slide._inner-scroll .modal-inner-wrap {
	overflow-y: visible;
}

.modal-slide._inner-scroll .modal-header,
.modal-slide._inner-scroll .modal-footer {

}
.modal-slide._inner-scroll .modal-content {
	overflow-y: auto;
}
.modal-slide._inner-scroll .modal-footer {
	margin-top: auto;
}

.modal-slide .modal-header,
.modal-slide .modal-content,
.modal-slide .modal-footer {
	padding: 0 15px;
}
.modal-slide .modal-header {
	padding-bottom: 10px;
	padding-top: 10px;
}

.modal-popup {
	left: 0;
    overflow-y: auto;
    z-index: 10;
}

.modal-popup._show .modal-inner-wrap {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.modal-popup .modal-inner-wrap {
    box-sizing: border-box;
    height: auto;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    transition-duration: .2s;
    -webkit-transition-property: translateY(-200%), hidden;
            transition-property: translateY(-200%), hidden;
    transition-timing-function: ease;
    width: 100%;
}

.modal-popup._inner-scroll {
	overflow-y: visible;
}

.modal-popup._inner-scroll .ie10 ._inner-scroll,
.modal-popup._inner-scroll .ie9 ._inner-scroll {
	overflow-y: auto;
}

.modal-popup._inner-scroll .modal-inner-wrap {
    max-height: 90%;
}

.modal-popup._inner-scroll .modal-inner-wrap .ie10 .modal-inner-wrap,
.modal-popup._inner-scroll .modal-inner-wrap .ie9 .modal-inner-wrap {
	max-height: none;
}

.modal-popup._inner-scroll .modal-content {
    overflow-y: auto;
}

.modal-popup .modal-header,
.modal-popup .modal-content,
.modal-popup .modal-footer {
	padding-left: 15px;
	padding-right: 15px;
}

/*.modal-popup .modal-header,
.modal-popup .modal-footer {
	.lib-vendor-prefix-flex-grow(0);
	.lib-vendor-prefix-flex-shrink(0);
}*/

.modal-popup .modal-header {
	padding-bottom: 20 / 2.5;
	padding-top: 15;
}

.modal-popup .modal-footer {
	margin-top: auto;
	padding-bottom: 10px;
	padding-top: 10px;
}

.modal-popup .modal-footer-actions {
	text-align: right;
}

.authentication-wrapper {
    margin-top: 10px;
    max-width: 50%;
    position: absolute;
    z-index: 1;
    right: 15px;
}
.authentication-wrapper:after {
	content: "";
	display: block;
	clear: both;
}
.authentication-wrapper .action-auth-toggle {
	float: right;
	color: #fff;
	font-size: 0.8125em;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
	display: inline-block;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #000;
	margin: 10px 0 0;
	width: 100%;
}
.authentication-wrapper .action-auth-toggle:hover {
	background: #f54d56;
}
.authentication-wrapper .actions-toolbar .action-login {
	float: right;
	color: #fff;
	font-size: 0.8125em;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	border: none;
	cursor: pointer;
	padding: 5px 10px;
	display: inline-block;
	outline: none;
	background: #000;
	margin: 10px 0 0;
	-webkit-transition: all 0.0s;
	-moz-transition: all 0.0s;
	transition: all 0.0s;
}
.authentication-wrapper .actions-toolbar .action-login:hover {
	background: #f54d56;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
body .authentication-wrapper .actions-toolbar a.action-remind {
	transition: 0s all;
	-webkit-transition: 0s all;
	-o-transition: 0s all;
	-ms-transition: 0s all;
	-moz-transition: 0s all;
}
._has-auth-shown .authentication-wrapper .action-auth-toggle {
	position: relative;
    z-index: 1001;
}
.authentication-wrapper .action-close {
	display: none;
}

._has-auth-shown .authentication-wrapper {
	z-index: 1000;
}
.opc-wrapper {
	margin-top: 20px;
}
.modal-custom.opc-summary-wrapper {
	display: block;
	visibility: visible;
	margin-top: 20px;
	z-index: 2;
}

.modal-custom.opc-summary-wrapper .action-close {
	display: none;
}

.modal-custom.opc-summary-wrapper .modal-content {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	border-radius: 0;
}
.modal-custom.opc-summary-wrapper .modal-header {
	border: 0;
}

.modal-custom.authentication-dropdown .modal-content {
	padding: 15px;
	border-radius: 0;
}

.modal-custom.authentication-dropdown .actions-toolbar,
.modal-custom.authentication-dropdown .field {
	margin: 10px 0 0;
}

.modal-custom.authentication-dropdown .field label {
	display: block;
	padding: 0;
	color: #000;
	font-size: 1em;
	text-align: left;
}

.modal-custom.authentication-dropdown .block-title {
	display: none;
}

.opc-estimated-wrapper {
	display: none;
}

#checkoutSteps {
	list-style: none;
	padding: 0;
	margin: 0;
}
#checkoutSteps > li {
	margin-top: 20px;
}

.payment-method .payment-method-content {
	display: none;
}
.payment-method._active .payment-method-content {
	display: block;
}
.payment-method label {
	color: #000;
	font-size: 1em;
}

.payment-method-title.field input {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}
.payment-method-title.field label {
	display: inline-block;
	vertical-align: middle;
	margin: -4px 0 0;
}
.billing-address-same-as-shipping-block,
.field-select-billing {
	display: none;
}
#checkout {
	margin: 0 -15px;
}

.opc-block-summary .table-totals > caption {
	display: none;
}

.payment-methods .payment-method {
	padding: 10px 5px 0;
	border-top: 1px solid #ccc;
}
.payment-methods .payment-method._active {
	padding-bottom: 10px;
}
.payment-methods .payment-method:last-of-type {
	border-bottom: 1px solid #ccc;
}
.payment-methods .payment-method .field {
	margin-bottom: 10px;
}
.payment-methods .payment-method .field label {
	padding-left: 0;
	font-weight: normal;
}
.payment-methods .payment-method .label {
	color: inherit;
	font-size: .9em;
	font-weight: normal;
	padding-left: 0;
}
.payment-methods .payment-method .field.required label:after,
.payment-methods .payment-method .label:after {
	content: '*';
	color: #e02b27;
	font-size: 1.2rem;
	margin: 0 0 0 5px;
}
.payment-methods .payment-method .field.street label {
	display: none;
}
.payment-methods .payment-method .payment-method-title label:after,
.payment-methods .payment-method .payment-method-title .label:after {
	content: '';
}
.payment-methods .payment-method .field input[type="text"],
.payment-methods .payment-method .field input[type="email"],
.payment-methods .payment-method .field input[type="number"],
.payment-methods .payment-method .field select {
	width: 100%;
}

.payment-methods .payment-method .field .control._with-tooltip input[type="text"] {
	width: 90%;
}
#payment .form-login {
	margin-bottom: 15px;
}
#payment .form-login label {
	display: inline-block;
	padding-left: 0;
	color: inherit;
	font-size: 1em;
}
#payment .form-login input[type="email"] {
	display: inline-block;
	width: 90%;
}
#payment .form-login .control._with-tooltip {
	position: relative;
}
.field-tooltip {
	display: inline-block;
    position: relative;
    cursor: pointer;
}
.field-tooltip .field-tooltip-content {
	position: absolute;
	z-index: -1;
	display: none;
	top: -60%;
	left: 120%;
	font-size: 14px;
	padding: 12px;
	width: 315px;
	background-color: #f4f4f4;
	border: 1px solid #999999;
}
.field-tooltip._active .field-tooltip-content {
	z-index: 1000;
	display: block;
}

.field-tooltip .field-tooltip-action:before {
    content: "\e085";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.field-tooltip._active .field-tooltip-action:before {
    color: #333333;
}

#payment .form-login .note {
	font-size: .8em;
}
#payment #co-payment-form legend {
	border-bottom: 0;
}

.payment-option.opc-payment-additional {
	margin-top: 15px;
}
.payment-option.opc-payment-additional .payment-option-title {
	padding: 10px 5px;
	position: relative;
	cursor: pointer;
}
.payment-option.opc-payment-additional .payment-option-title:after {
	content: "\e114";
	float: right;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.payment-option.opc-payment-additional .payment-option-title[aria-expanded="true"]:after {
	content: "\e113";
}

#opc-sidebar {
	background: #f5f5f5;
	padding: 15px;
}

#opc-sidebar .items-in-cart .title {
	padding: 15px 6px;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
}
#opc-sidebar .items-in-cart .title:after {
	content: "\e114";
	float: right;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#opc-sidebar .items-in-cart .title[aria-expanded="true"]:after {
	content: "\e113";
}

#opc-sidebar .items-in-cart .minicart-items {
	list-style: none;
	margin: 0;
	padding: 0;
}
#opc-sidebar .items-in-cart .minicart-items > .product-item {
	padding: 10px 0;
	border-top: 1px solid #ccc;
}
#opc-sidebar .items-in-cart .minicart-items > .product-item:first-of-type {
	border-top: 0;
}
#opc-sidebar .items-in-cart .minicart-items > .product-item .product-image-container {
	display: inline-block;
	vertical-align: top;
    width: 21% !important;
}
#opc-sidebar .items-in-cart .minicart-items > .product-item .product-item-details {
	display: inline-block;
	vertical-align: top;
	width: 76%;
}
#opc-sidebar .items-in-cart .minicart-items > .product-item .product-item-details .product-item-name {
	font-weight: normal;
}
#opc-sidebar .items-in-cart .minicart-items > .product-item .product-item-details .label {
	padding-left: 0;
	color: inherit;
	font-size: .9em;
	font-weight: normal;
}
#opc-sidebar .items-in-cart .minicart-items > .product-item .product-item-details .product-item-inner {
	display: table;
	width: 100%;
}
#opc-sidebar .items-in-cart .minicart-items > .product-item .product-item-details .product-item-name-block {
	display: table-cell;
	text-align: left;
}
#opc-sidebar .items-in-cart .minicart-items > .product-item .product-item-details .subtotal {
	display: table-cell;
	text-align: right;
}
#opc-sidebar .items-in-cart .minicart-items > .product-item .product-item-details .product.options .toggle {
	cursor: pointer;
	font-size: 0.8em;
}
#opc-sidebar .items-in-cart .minicart-items > .product-item .product-item-details .product.options .toggle:after {
	content: "\e114";
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    vertical-align: middle;
    margin-left: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#opc-sidebar .items-in-cart .minicart-items > .product-item .product-item-details .product.options.active .toggle:after {
	content: "\e113";
}
#opc-sidebar .items-in-cart .minicart-items > .product-item .product-item-details .product.options .item-options {
	margin-bottom: 10px;
}
#opc-sidebar .items-in-cart .minicart-items > .product-item .product-item-details .product.options .item-options .label {
	float: left;
}

#opc-sidebar .items-in-cart .minicart-items > .product-item .product-item-details .product.options .item-options .label:after {
	content: ":";
}

.checkout-onepage-success .page-title {
	text-align: center;
}

.toolbar.review-toolbar .limiter {
	text-align: right;
}

#product-review-container {
	margin-bottom: 15px;
}

button.action {
    font-size: 0.8125em;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
    outline: none;
    background: #000;
    margin: 10px 0 0;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
button.action:hover {
	background: #f54d56;
}