<div class="opc-block-summary" data-bind="blockLoader: isLoading">
    <h3 data-bind="i18n: 'Order Summary'" class="title"></h3>
    <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>