<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="contact_right">
    <form class="form contact"
          action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
          id="contact-form"
          method="post"
          data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
          data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <h3>Catch me</h3>
            <!-- <div class="field note no-label"><?php /* @escapeNotVerified */ //echo __('Jot us a note and we’ll get back to you as quickly as possible.') ?></div> -->
            <div class="text">
                <div class="clearfix"> </div>
                <div class="field name required text-fild">
                    <span><?php /* @escapeNotVerified */ echo __('Name') ?></span>
                    <div class="control">
                        <input name="name" id="name" title="<?php /* @escapeNotVerified */ echo __('Name') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
                    </div>
                </div>
                <div class="field email required text-fild">
                    <span><?php /* @escapeNotVerified */ echo __('Email') ?></span>
                    <div class="control">
                        <input name="email" id="email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="text" data-validate="{required:true, 'validate-email':true}"/>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="field telephone msg-fild">
                <span><?php /* @escapeNotVerified */ echo __('Subject') ?></span>
                <div class="control">
                    <input name="text" id="telephone" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" value="" class="input-text text" type="text" />
                </div>
            </div>
            <div class="field comment required message-fild">
                <span><?php /* @escapeNotVerified */ echo __('Message') ?></span>
                <div class="control">
                    <textarea name="comment" id="comment" title="<?php /* @escapeNotVerified */ echo __('What’s on your mind?') ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"></textarea>
                </div>
            </div>
            <?php echo $block->getChildHtml('form.additional.info'); ?>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary btn-toolbar form-group">
                <input type="hidden" name="hideit" id="hideit" value="" />
                <button type="submit" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>" class="action submit primary btn btn-primary" id="contactFormSubmit">
                    <span><?php /* @escapeNotVerified */ echo __('Send') ?></span>
                </button>
                <button type="reset" class="btn btn-info">
                    <span><?php /* @escapeNotVerified */ echo __('Clear') ?></span>
                </button>
            </div>
        </div>
    </form>
</div>
