<aside
    class="modal-<%= data.type %> <%= data.modalClass %>"
    data-role="modal"
    data-type="<%= data.type %>"
    tabindex="0">
    <div data-role="focusable-start" tabindex="0"></div>
    <div class="modal-inner-wrap"
         data-role="focusable-scope">
        <header class="modal-header">
            <% if(data.title){ %>
            <h1 class="modal-title"
                data-role="title"><%= data.title %></h1>
            <% } %>
            <button
                class="action-close"
                data-role="closeBtn"
                type="button">
                <span><%= data.closeText %></span>
            </button>
        </header>
        <div
            class="modal-content"
            data-role="content"></div>
        <% if(data.buttons.length > 0){ %>
        <footer class="modal-footer">
            <% _.each(data.buttons, function(button) { %>
            <button
                class="<%= button.class %>"
                type="button"
                data-role="action"><span><%= button.text %></span></button>
            <% }); %>
        </footer>
        <% } %>
    </div>
    <div data-role="focusable-end" tabindex="0"></div>
</aside>
